body {
  margin: 0;
  padding: 0;
  background-color: #02d757;
}

.principal {
  display: flex;
  flex-direction: column; 
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

form {
  display: flex;
  max-width: 500px;  
  justify-content: center;
  align-content: center; 
  align-self: center;
  margin-top: 20px;
}

input {
  width: 100px;
  height: 40px;
  margin: 10px;
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, .5);
  padding: 5px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

#calcular {
  display: block;
  background: #e54;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

span {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  font-weight: bold;
  margin: 20px;
  align-self: center;
}